body {
    font-family: 'Arial', sans-serif;
    text-align: center;
}

h1, h2, h3 {
    color: #333;
}

form {
    margin-bottom: 20px;
}

button {
    padding: 10px;
    cursor: pointer;
}

img {
    max-width: 100%;
    margin-top: 10px;
}
