<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dimensions Detection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Dimensions Detection</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <label for="file">Choose an image:</label>
        <input type="file" name="file" id="file">
        <button type="submit">Upload Image</button>
    </form>

    {% if image_path %}
        <h3>Uploaded Image:</h3>
        <img src="{{ image_path }}" alt="Uploaded Image">
    {% endif %}

    
    {% if processed_image_path %}
    <h3>Processed Image:</h3>
    <div class="image-container">
        <img src="{{ url_for('static', filename='temp/processed_image.jpg') }}" alt="Processed Image">
    </div>
    {% endif %}


    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const fileInput = document.getElementById('file');
            fileInput.addEventListener('change', () => {
                fileInput.form.submit();
            });
        });
    </script>
</body>
</html>
